<div class="container">
    <table class="table table-bordered table-responsive" style="color: white; margin-top: 10px;">  
        <thead>
            <tr>
                <th colspan="5" class="text-center">
                    Carro de compras  <a id="boton" onclick="cerrar();" class="fa-solid fa-xmark" href="#"></a>
                </th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th colspan="2">Suma</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <td>{{value.nombre}}</td>
                        <td>{{value.cantidad}}</td>
                        <td><a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-success">+</a></td>
                        <td><a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-success">-</a></td>
                        <td>${{value.precio}}</td>
                        

                    </tr>


                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">
                    <div class="alert alert-info text-center">
                        Sin Productos
                    </div>
            </tr>
            {% endif %}

        </tbody>

        <tfoot>
            <tr>
                
                <td colspan="5">
                    Total : $ {{importe_total_carrito }}
                    <div style="text-align: center; font-size: 20px;">
                    </div>
                </td>
            </tr>
            {% if request.session.carro.items%}
            <tr>
                <td colspan="5" style="text-align: center" >
                    <a href="#" class="btn btn-primary">Hacer pedido</a>
                </td>
            </tr>
            {% endif %}

        </tfoot>

    </table>
</div>